In [29]:
import pandas as pd
import scipy.io as sio
import numpy as np

In [30]:
# data preprocessing
data = pd.read_csv('owid-covid-data.csv')
country = 'Italy'
country_data = data[data.location == country]
country_data = country_data[(country_data['total_cases'] > 0)]
country_data.head()

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
7631,ITA,Italy,2020-01-31,3,3,0,0,0.05,0.05,0.0,0.0,NaN,NaN,NaN,NaN,NaN
7632,ITA,Italy,2020-02-01,3,0,0,0,0.05,0.00,0.0,0.0,NaN,NaN,NaN,NaN,NaN
7633,ITA,Italy,2020-02-02,3,0,0,0,0.05,0.00,0.0,0.0,NaN,NaN,NaN,NaN,NaN
7634,ITA,Italy,2020-02-03,3,0,0,0,0.05,0.00,0.0,0.0,NaN,NaN,NaN,NaN,NaN
7635,ITA,Italy,2020-02-04,3,0,0,0,0.05,0.00,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [31]:
country_data['date'] = pd.to_datetime(country_data['date'], format='%Y-%m-%d')

In [32]:
I = country_data['new_cases']
date = country_data['date']
I0 = np.zeros(I.size)
d0 = np.zeros([I.size, 3])
for k in np.arange(I.size):
    I0[k] = I.iloc[k]
    d0[k, :] = [date.iloc[k].month, date.iloc[k].day, date.iloc[k].year]
sio.savemat(country+'.mat', {'I':I0, 'd':d0})